.nav{
    width:100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    color:#fff;
    padding: 2rem;
    background-color: #2F2A29;
}

.user-actions{
    display:flex;
    gap:1rem;
}